.friends {
    font-size: 14px;
    color: white;
    display: inline-flex;
    justify-content: space-between;
    /* width: 74%; */
    gap: 14px;
}
.friend {
    display: flex;
}
.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-top: 50px;
}

.title {
    font-size: 25px;
}


